/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";


global
{
	font-size: 12;
}
.left {
	flex: 50;
	color:"#FF0000";
	background:"#FF0000";
}